<% provide(:title, "About") %>

<div class = "row"> <!-- Banner Row 2 --> 
	<div class = "applyBanner"> 
		<div class = "inner">
			<h1>  Suitcase Clinic History</h1>
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 3 -->
	<div class = "wrapper">
		<div class = "center-section">
			<h1> Suitcase Clinic History </h1>
			<p> In the summer of 1989, a group of first year University of California, Berkeley – University of California, San Francisco Joint Medical Program students discussed the idea of developing a program to address the unmet needs of the city of Berkeley’s homeless and low-income population. This group further developed their ideas in the following fall semester’s Health Policy course. They envisioned a program that would provide needed, specialized, and appropriate services to a population which typically received inadequate health care. As a first step in the development of their idea, the students conducted a community needs assessment. </p>

			<p>They met with homeless individuals on the street, community-based organizations such as the Berkeley Food and Housing Project, and medical clinics such as the Berkeley Free Clinic. Through their outreach efforts, the students tried to gain a better understanding of the available services and service gaps. The students concluded that many of the homeless did not utilize existing social and medical services because many of the services were inaccessible. </p>

			<p>Based on their assessment, the students conceived of a mobile clinic that would travel directly to clients and provide services. Medical and other supplies were carried in suitcases, hence the name “The Suitcase Clinic.” A van was donated to the project, but when the van broke down due to brake failure, the student volunteers had to reevaluate their plans. </p>

			<p>The students realized that their clients needed more than just medical care; the needs of the homeless and low-income population went beyond just the medications needed for their current illness. With the belief that health is a state of complete physical, mental, emotional social well-being, not merely the absence of disease and infirmity, the students conceived the idea of a clinic that would provide more than just medical services. </p>

			The clinic organizers worked with the Berkeley Food and Housing Project and First Presbyterian Church of Berkeley, deciding to hold the now stationary Suitcase Clinic on Tuesday nights in conjunction with the Berkeley Food and Housing Project’s evening drop-in center at the church. Along with the UCB – UCSF Joint Medical Program students, undergraduate students played an integral role in the development of the Suitcase Clinic, and are now the agents primarily responsible for its continuing operation.

			The undergraduate students developed a semester-long UC Berkeley course associated with the Suitcase Clinic and run through the Anthropology Department, which is now sponsored by the Health and Medical Sciences Division in the School of Public Health. The course was designed to raise student awareness, increase student recruitment, and to also train new volunteers. Undergraduates also coordinate the Suitcase Clinic’s various divisions, help raise the necessary funds for operation, conduct evaluations, and oversee all other aspects.

			The Suitcase Clinic opened its doors on September 25th, 1990. Its organizers had two primary goals:

			To provide a multidisciplinary clinic in which the homeless could receive a wide range of services including medical care, chiropractic services, legal advice, optometry and haircuts.
			To provide a community service arena where all providers would cooperate in fulfilling all of the service requirements of the population. A corollary goal has been to provide a learning experience and opportunity for medical, optometry, graduate, and undergraduate students. Through the case-working model all participants are exposed to a radically different system, which attempts to break down standard social relations.
			In the fall of 1994 a discussion group was started at the Suitcase Clinic. First begun as a place where clients could discuss health education, the focus was soon shifted more towards self-empowerment through problem resolution and community involvement. SHARE (Searching How to Achieve Respect and Empowerment) is now a unique forum for both clients and students, helping to build community within the clinic community.
			
			In 1998, in cooperation with the Berkeley Food and Housing Project, a second drop-in center, the Women’s Clinic, was opened at the Dwight Way Women’s Shelter. This was enacted due to the recognition that the predominantly male clients of the Suitcase Clinic were discouraging women from attending. From then on, the original drop-in center was renamed “The General Clinic”, and “The Suitcase Clinic” came to refer to the umbrella organization which now encompassed the two drop-in centers and the SHARE program. The Women’s Clinic now operates every Monday night and offers similar services to the General Clinic, as well as some more appropriate for the homeless women and children who frequent it.

			In the summer of 1999, a group of student volunteers involved with the Suitcase Clinic got together to develop a plan for restructuring the organization. This desire stemmed from a growing awareness of the limitations of our current structure, and resulted in a proposal to expand the Suitcase Clinic to serve homeless youth by the September of 2000. This plan involved the incorporation of Suitcase Clinic membership and an Executive Committee into the umbrella organization.

			The main goal of establishing membership was to create a method for keeping people involved with the Suitcase Clinic post-graduation. The creation of the Executive Committee was an attempt to reduce the number of Clinic meetings and to clarify the role of the Advisory Board. The aim was to clearly define who has decision-making power in the organization, as well as to distinguish between advisers and student decision-makers. The Executive Committee was also created to make the Suitcase Clinic more attractive to outside funding agencies and to build the organization’s capacity to transition into nonprofit status if it ever decided to move in this direction. The Executive Committee structure was also intended to help students learn more about nonprofit organizational management.

			In January of 2001, the Clinic opened its third drop-in center, the Youth Clinic, at St. Mark’s Episcopal Church to meet the demands of the homeless youth population who, though great in number, did not frequent the two existing sites. This new drop-in center was created to meet the needs of the youth population, and differed greatly from the other two. Its informality and comparative lack of structure was deliberately encouraged to match the values of the youth population it sought to reach out to. The Youth Clinic now operates every Monday night.

			In the spring of 2004, the Suitcase Clinic was recognized by former chancellor Robert Berdahl as a leading campus-community collaboration group and commended for its work in providing UC Berkeley students with valuable real world experience. Many volunteers and officers became interested in leading the Suitcase Clinic out of its origins as a student group into embracing the new possibilities engendered by becoming a full-fledged nonprofit organization. One long-term goal of the Suitcase Clinic had been to establish a more stable organizational structure in an effort to become self-sustainable. The Suitcase Clinic had considered the option of becoming a nonprofit organization, and with this came the plan to re-institute the Suitcase Clinic Advisory Board. The Planning Committee cast a vote during its spring retreat as to whether to take the steps needed to become a non-profit. The vote passed, though due to an extremely dire budget crisis which faced the organization at that time due to funding cuts in the entire ASUC, progress towards becoming a non-profit became temporarily shelved, as it remains to this day.

			In the spring of 2006, it became apparent that the Suitcase Clinic required a new and improved means to interact with the greater Berkeley community both on and off the university campus. SPEAC, Student Project for Education and Advocacy, was created in order to educate the broader community and advocate on the behalf of greater policy issues affecting the low-income and unhoused community. SPEAC is based on the principle that social awareness through education and advocacy is the first step in achieving successful policy reform. Each semester, SPEAC pursues various projects which range from educational forums and talks to community service projects.

			In the spring of 2007, Alan Steinbach, the Faculty Sponsor of the Suitcase Clinic and the Instructor of Record for Health and Medical Sciences 98/198 since their mutual inception, retired from active university life. Succeeding him as Faculty Sponsor of the Suitcase Clinic is John Swartzberg, and Robert Ratner has become the new Instructor of Record for Health and Medical Sciences 98/198.

			On September 25th, 2007, the 17-year anniversary of the founding of the General Clinic, the Suitcase Clinic officially launched its new information and content management system at www.suitcaseclinic.org in order to organize and retain all of our pertinent documents, policies and protocols. This was implemented to furthermore ensure that all of our participants were fully aware of the history and scope organization, and to provide a central hub and network of resources for our expanding community of volunteers.

			The Suitcase Clinic was created to meet the varied needs of a diverse population and through the years has taken steps to branch out and provide these services in a truly accessible way to all. </p>
		</div>
	</div>
</div>

<div class = "row"> <!-- Row 4 -->
</div>

<div class = "row"> <!-- Row 5 -->
</div>			