<% provide(:title, "About") %>

<div id = 'aboutview' class="view">
    <div class="banner-center">
        <div class = "titleCaption">
            <ul>
                <li>
                    <div class = "positionTopThree">                   
                        <div class = "cHandle">
                           &nbsp;
                        </div>
                    </div>
                    <div class = "positionTopTwo">
                        <div class = "mini">
                            &nbsp;
                        </div>
                    </div>
                    <div class = "positionTop" >
                        <div class = "handle">
                            &nbsp;
                        </div>
                    </div>
                    <h1>
                        <div class = "leftTopLine">
                            <div class = 'allCap'>
                                About <span class = "secondCap">Us</span> 
                            </div>
                            <div class = 'rightTopCorner'>
                            </div>
                            <div class = 'leftTopCorner'>
                            </div>
                            <div class = 'rightBotCorner'>
                            </div>
                            <div class = 'leftBotCorner'>
                            </div>
                        </div>
                        <div class= "rightBotLine"></div>
                    </h1>
                </li>
            </ul>
	</div>
</div>