<% provide(:title, "Donate") %>
<p> Donate </p>
The Suitcase Clinic is a student-run organization, sponsored by the Associated Students of the University of California, a 501c3 Non-Profit. All funding originates from the continuous work on grants done by the Administrative Coordinators, from the Associated Students of the University of California, and from generous gifts from members of the community. Any and all donations are tax-deductible and greatly appreciated. Donations can be monetary in nature or can include equipment for our clinics. We accept donations ranging from toiletries (razors, soap, shampoo, conditioner, toothbrushes, toothpaste, floss, lotion, etc.) to clothing, blankets and jackets. Please contact us via phone or e-mail to set up a pick up time or for more information about donating supplies to the Suitcase Clinic.

The Suitcase Clinic relies on fundraising and donations to run our three clinics. You can help us continue to serve the underserved community by making a monetary or item-based contribution to our organization following the instructions below.

