<% provide(:title, "General") %>
<div class = "address"> 
	<h1>
		We are located at: <br />
			<a href = "http://www.fpcberkeley.org/" style="text-decoration:none;">First Presbyterian Church of Berkeley</a> <br />
		2407 Dana Street at Haste Street <br />
		Berkeley, CA 94704-2207 <br />
		Voicemail: (510) 269-7242 <br />

		Mailing Address: <br />
		570 University Hall #1190 <br />
		University of California, Berkeley <br />
		Berkeley, CA 94720-1190 <br />
	</h1>
</div>
<p>The General Clinic is the oldest of the Suitcase Clinic’s three drop-in centers targeting low-income and homeless populations in Berkeley, receiving up to fifty clients per night on average. For over twenty years, the General Clinic has been a safe and successful place for homeless individuals to receive medical or other professional services, to pick up hygiene supplies, to talk to a lawyer, or just to hang out with Berkeley students.</p>

<div class = "time">
General Clinic Operating Hours: <br />
Tuesday nights from 6:15PM-9:00PM <br />
</div>

<div class = "services">
General Clinic offers a variety of services: 
</div>

<div class = "guidelines">
Please respect the church property (refrain from causing damage to the bathrooms, walls, patio, tables, etc.)
Please respect other clients, volunteers, coordinators and our clinic guidelines
Fighting and physical/verbal/sexual abuse will not be tolerated
Weapons, open alcoholic beverages, and drugs are not permitted at clinic
Smoking is prohibited at clinic (including the balcony adjacent to the main gym along Haste Street); clients who wish to smoke may do so on the sidewalk
The Suitcase Clinic is not responsible for any lost or stolen items
Failure to abide by these guidelines may result in a ban from General Clinic. The Clinic Coordinators determine ban length on a case-by-case basis.
</div>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJMx-w1yh8hYARC2Ip1pB1KzE&key=AIzaSyAB0wDdv03MiRZiU6zgY0YBRU6yKFPUiW4" allowfullscreen></iframe>
<p> General clinic stuff </p>
