<% provide(:title, "Home") %>
<!--Mask-->
<div class="view">
    <div id="banner-center">
        <div class = "titleCaption">
            <ul>
                <li>
                    <div class = "positionTopThree">                   
                        <div class = "cHandle">
                           &nbsp;
                        </div>
                    </div>
                    <div class = "positionTopTwo">
                        <div class = "mini">
                            &nbsp;
                        </div>
                    </div>
                    <div class = "positionTop" >
                        <div class = "handle">
                            &nbsp;
                        </div>
                    </div>
                    <h1>
                        <div class = "leftTopLine">
                            <div class = 'allCap'>
                                Suitcase <span class = "secondCap">Clinic</span> 
                            </div>
                            <div class = 'rightTopCorner'>
                            </div>
                            <div class = 'leftTopCorner'>
                            </div>
                            <div class = 'rightBotCorner'>
                            </div>
                            <div class = 'leftBotCorner'>
                            </div>
                        </div>
                        <div class= "rightBotLine"></div>
                    </h1>
                </li>
                <li>
                    <p>Changing how Berkeley approaches homelessness</p>
                </li>
                <li>
    				<%= link_to "Get Involved", home_path, class: "btn btn-primary btn-lg "%> 
                    <%= link_to "Apply Now", home_path, class: "btn btn-primary btn-lg apply"%> 
                </li>
            </ul>
            <%= link_to "", root_path(:anchor => "about"), class: "fa fa-angle-down page-scroll" %>
        </div>
    </div>
</div>
<!--/.Mask-->
</div>
<!-- Main container-->
<div class="container">
    <!--Section: About-->
    <section id="about">
        <h1> About Us</h1>
        <div class="col-md-6" id="div1"> 
            <p> The Suitcase Clinic is a humanitarian student organization and volunteer community offering free health and social services to underserved populations since 1989. Structured around the principles of public health, social welfare, community activism and empathy, the Suitcase Clinic strives to educate students, promote health care access, engage in community organization, and support public policy efforts that address homelessness and the needs of the underserved in the local community.</p> 
            <%= link_to "Learn More", home_path, class: "btn btn-primary btn-lg "%>  
        </div>
        <div class="col-md-6" id="div2">
        </div>
    </section>
    <!--Section: About-->
    <!--Section: Our Clinics-->
    <section id="about">
        <h1> Our Clinics</h1>
        <p> The Suitcase Clinic operates four clinics</p> 
        Four Clinics with boxes and Pics, refer to Google for Nonprofits for support        
    </section>
    <section id="about">
        <h1> Stay Up to Date</h1>
        <p> The Suitcase Clinic operates four clinics</p>   
        Link to News, Link to Services, Link to Blog      
    </section>
    <!--Section: Our Clinics-->
    <section id="about">
        <h1> Contact Us</h1>
        <p> Have any questions? </p>         
    </section>
</div>
<!--/ Main container-->
