<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the brand new Suitcase Website!</h1>

  <h2>
    This is the home page for the Suitcase Clinic.
  </h2>

  <%= link_to "Get Involved!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("suitcase_logo.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
