<% provide(:title, "Join Us") %>
<div class = "row"> <!-- Banner Row 2 --> 
	<div class = "applyBanner"> 
		<div class = "inner">
			<h1>  Interested in Social Justice? </h1>
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 3 -->
	<div class = "wrapper">
		<div class = "center-section">
			<h1> Apply now! </h1>
			<p> Suitcase Clinic is accepting applications now! </p>
		</div>
	</div>
</div>