<% provide(:title, "LoginScreen") %>

  <h1>Log In through this screen!</h1>
  <p> If you're an officer, please log in below! If you are an incoming officer/don't have an account, please 
  <%= link_to "sign up here! ", signup_path %></p>

