<% provide(:title, "Services") %>

<div id = 'servicesview' class="view">
    <div class="banner-center">
    </div>
</div>
Master Calendar

The Suitcase Clinic offers 4 Clinics: 
<%= link_to "General", general_path %>