<% provide(:title, "Women") %>
<div> Women’s Clinic operates on Monday nights from 7:30PM-9:00PM </div>
<div> <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJoUeXLyp8hYARBsLPo0MGUHU&key=AIzaSyAB0wDdv03MiRZiU6zgY0YBRU6yKFPUiW4" allowfullscreen></iframe></div>
<p> Women's clinic stuff </p>
