/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 *= require font-awesome
 */
 
/* Navigation*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

.navbar {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    position: absolute;
    transition: top 0.5s ease-in-out;
}
.navbar.fixed{
    position: fixed;
    background-color: rgba(0,0,0,.75);
}
.container strong {
    margin-left: -4em;
}
.navbar-brand { 
    font-family: 'PT Sans', sans-serif;    
    font-size: 1.5em;
}
#navbarNav1 {
    margin-right: -4em;
}
.navbar a {
  color: #fff;
}
.ml-auto a:after {
    display:block;
    content: "";
    border-bottom: 1px solid #fff;
    transform: scaleX(0);  
    transition: transform 0.15s ease-in-out;
}
.navbar a:hover {
	color: #cccccc;
}
.ml-auto a:hover:after {
    transform: scaleX(1);
}
.navbar-logo { 
    width:25%;
    display: inline-block;
    padding-right: 0.75em;
}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
    background-color: #d9534f;
}

/* Footer*/
.social{
    width: 7.5%;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.social:hover {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
 }
footer {
    margin-top: 
    background-color: #fff;
    text-align: center;
}
a {
    color: rgba(44,62,80,0.9);

}
a:hover {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


