//Style Adjustments
html,
body, .view {
	height: 100%;
	text-align:center;
}

h2 {
	line-weight: 500;
}
ul {
	padding:0em;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

// Font Variables
$open-sans: 'Open Sans', sans-serif;   

/* 
*=== NavBar ====
*/

/* 
*=== Home Page ====
*/

/* 
*--- Banner/Mask ---
*/
.view{
    background:
    url("2017SpringOfficers.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   	#banner-center {
		background-color: rgba(0,0,0,.5);
		color: #fff;
		height:100%;
	}
    ul {
    	list-style-type: none;
    }
}
.titleCaption {
	position: absolute;
	text-align: center;
	top: 25%;
	left:0;
	right:0;
	font-family: $open-sans;
  text-transform: uppercase;
  font-size: 18px;
	font-weight: 300;
	color: #fff;

	.positionTopThree {
		display: block;
		margin-bottom: 0.65em;
	}
	.positionTopTwo {
		display: block;
		margin-bottom: -2.0em;
	}
	.cHandle {
		color: transparent;
		display: inline-block;
		line-height: 1.2em;
	}
	.mini {
		color: transparent;
		display: inline-block;
 		border: solid transparent;
 		border-bottom: transparent;
 		line-height: 1em;
    -moz-transition: border-color 2s ease;
    -webkit-transition:border-color 2s ease;
    -ms-transition: border-color 2s ease;
    transition: border-color 2s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
	}
	.handle {
		width: 7em;
		color: transparent;
		display: inline-block;
		border-left: solid transparent;
		border-right: solid transparent;
		border-top: solid transparent;
    -moz-transition: border-color 2s ease;
    -webkit-transition:border-color 2s ease;
    -ms-transition: border-color 2s ease;
		transition: border-color 2s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
		transition-delay: 1.25s;
	}
  h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 2em;
  display: inline-block;
  position: relative;
  }
  .allCap {
  	opacity: 0;
  	transform: scale(0.70);
  	display: block;
    padding:0em 0.5em;
  }
  .secondCap { 
  	color: #cc021b;
      font-size: 60px;
  	font-weight: 800;
  }
  .allCap:before,.allCap:after {
	background: #fff;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	opacity: 0;
  width: 100%;
  }
  .allCap:before {
  	top:0;
  	left: 0;
  	width: 0%;
    -moz-transition: width 1s ease;
    -webkit-transition:width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  .allCap:after { 
  	bottom: 0;
  	right:0;
  	width: 0%;
    -moz-transition: width 1s ease;
    -webkit-transition:width 1s ease;
    -ms-transition: width 1s ease;
  	transition: width 1s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
  	transition-delay: 0.25s;
 	}
 	.leftTopLine , .rightBotLine {
    -moz-transition: border-color 2s ease;
    -webkit-transition: border-color 2s ease;
    -ms-transition: border-color 2s ease;
  	transition: border-color 2s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
  	transition-delay: 1.25s;
 	} 	
 	.leftTopLine {
    border-left: solid transparent;
    height:0em;
    display:inline-block;
    border-right-color: #fff;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
    -moz-transition-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s
	}
	.rightBotLine {
		border-right: solid transparent;
    height:0em;
    display:inline-block;
    border-right-color: #fff;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
    -moz-transition-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s
	}
}
body.loaded .allCap {
	transform: scale(1);
	transition: transform 0.5s ease, opacity 0.5s ease;
	opacity: 1;
}
body.loaded {
  .rightBotLine, .leftTopLine{
    border-left-color: #fff;
    height:2em;
  }
}
body.loaded {
  .allCap:before, .allCap:after{
  	opacity: 1;
  	width: 100%;
  }
}
body.loaded .handle, body.loaded .mini{
	border-color: #fff;
}
/*
*--- About Us ---
*/
#about {
	p {
		line-height: 2.5em;
	}
}

/*
*--- Our Clinics ---
*/
#best-features {
	.divider-new{
		margin-bottom: 1em;
	}
	h4 {
		margin-bottom: 1em;
	}
}
#scLogo {
	display:block;
	margin:auto;
	padding-top: 2em;
}


//Footer
footer {
  img {
	position: relative;
	height:10%;
	width: 5%;
  }
}