@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$jared-lato: 'Lato', sans-serif;
/* Style Adjustments */
html,
body, .view, .aboutView {
	height: 100%;
	text-align:center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $jared-lato;
  background-color: #F8F8F8;
  color: #121212;
}
h1 {
  font-family: $jared-lato;
  font-weight: 900;
  font-size: 2em;
}
p {
  font-weight: 400;
}
h2 {
	line-weight: 500;
}
ul {
	padding:0em;
}

.section-heading h4 {
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.section-heading .line-dec {
  width: 4.25em;
  height: 0.15em;
  background-color: #121212;
  margin: 0 auto;
}

.view{
    .banner-center {
      background-color: rgba(0,0,0,.5);
      color: #fff;
      height:100%;
    }
    ul {
      list-style-type: none;
    }
    box-shadow: 0 2px 5px rgba(0,0,0,.4)
}

.left-text {
  text-align: left;
}
/* 
*=== Home Page ====
*/
#homeview{
  background: url("fall2017Officers.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
*--- Suitcase Graphic --- 
*/
.titleCaption {
	position: absolute;
	text-align: center;
	top: 30%;
	left:0;
	right:0;
	font-family: $jared-lato;
  text-transform: uppercase;
  font-size: 18px;
	font-weight: 300;
	color: #fff;
  p {
    margin-top: -0.5em;
    -moz-transition: transform 0.5s ease, opacity 1s ease;
    -webkit-transition: transform 0.5s ease, opacity 1s ease;
    -ms-transition: transform 0.5s ease, opacity 1s ease;
    transition: transform 0.5s ease, opacity 1s ease;
    -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
    padding-bottom: 1.0em;
    opacity:0;
    font-weight:400;
  }
	.positionTopThree {
		display: block;
		margin-bottom: -0.6em;
	}
	.positionTopTwo {
		display: block;
		margin-bottom: -2.0em;
	}
	.cHandle {
    position: relative;
		background-color: transparent;
    text-align:center;
		display: inline-block;
		line-height: 1.3em;
    min-height: 1.3em;
    width: 4.5em;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
	}
	.mini {
		color: transparent;
		display: inline-block;
 		border: solid transparent;
 		border-bottom: transparent;
 		line-height: 1em;
    width: 5.9em;
    -moz-transition: border-color 1.5s ease;
    -webkit-transition:border-color 1.5s ease;
    -ms-transition: border-color 1.5s ease;
    transition: border-color 1.5s ease;
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    transition-delay: 1.5s;
	}
	.handle {
		width: 7em;
		color: transparent;
		display: inline-block;
		border-left: solid transparent;
		border-right: solid transparent;
		border-top: solid transparent;
    -moz-transition: border-color 1.5s ease;
    -webkit-transition:border-color 1.5s ease;
    -ms-transition: border-color 1.5s ease;
		transition: border-color 1.5s ease;
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
		transition-delay: 1.5s;
	}
  h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 2em;
  display: inline-block;
  position: relative;
  }
  .allCap {
  	opacity: 0;
  	transform: scale(0.70);
  	display: block;
    padding:0em 0.75em;
    -moz-transition: transform 0.5s ease, opacity 0.25s ease;
    -webkit-transition: transform 0.5s ease, opacity 0.25s ease;
    -ms-transition: transform 0.5s ease, opacity 0.25s ease;
    transition: transform 0.5s ease, opacity 0.25s ease;
  }
  .secondCap { 
  	color: #cc021b;
    font-size: 60px;
  	font-weight: 900;
  }
  .rightTopCorner {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 0 0.5em 0.5em 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -moz-transition: border-color 1s ease;
    -webkit-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: border-color 1s ease;
     -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
  }
  .leftTopCorner {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 0.5em 0.5em 0em 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -moz-transition: border-color 1s ease;
    -webkit-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: border-color 1s ease;
     -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
  }
  .leftBotCorner {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 0.5em 0em 0em 0.5em;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    -moz-transition: border-color 1s ease;
    -webkit-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: border-color 1s ease;
     -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
  }
  .rightBotCorner {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 0 0em 0.5em 0.5em;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    -moz-transition: border-color 1s ease;
    -webkit-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: border-color 1s ease;
     -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
  }  
  .allCap:before,.allCap:after {
    background: #fff;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    width: 0%;
    -moz-transition: width 0.75s ease;
    -webkit-transition:width 0.75s ease;
    -ms-transition: width 0.75s ease;
    transition: width 0.75s ease;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .allCap:before {
  	top:0;
  	left: 0;
  }
  .allCap:after { 
  	bottom: 0;
  	right:0;
 	}
 	.leftTopLine , .rightBotLine {
    -moz-transition: border-color 0.75s ease;
    -webkit-transition: border-color 0.75s ease;
    -ms-transition: border-color 0.75s ease;
  	transition: border-color 0.75s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
  	transition-delay: 1s;
 	} 	
 	.leftTopLine {
    border-left: solid transparent;
    height: 0em;
    display:inline-block;
    border-right-color: #fff;
    -webkit-transition: height 0.75s ease;
    -moz-transition:height 0.75s ease;
    -o-transition: height 0.75s ease;
    -ms-transition: height 0.75s ease;
    transition: height 0.75s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
	}
	.rightBotLine {
    float: right;
		border-right: solid transparent;
    height: 0em;
    display:inline-block;
    border-right-color: #fff;
    -webkit-transition: transform 0.75s;
    -moz-transition: transform 0.75s;
    -o-transition: transform 0.75s;
    -ms-transition: transform 0.75s;
    transition: transform 0.75s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    margin-top:0em;
    /*
    Change margin-top to -2em for chrome.
    */
    transform-origin: 0 100%;
    transform: scaleY(0);
	}
  .btn {
    background-color: transparent;
    font-size: 0.85em;
    line-height: 1.75em;
    border-color: #6e6d6c;
    opacity:0;
    -moz-transition: transform 0.5s ease, opacity 2s ease;
    -webkit-transition: transform 0.5s ease, opacity 2s ease;
    -ms-transition: transform 0.5s ease, opacity 2s ease;
    transition: transform 0.5s ease, opacity 2s ease;
    -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
    font-weight:900;
    outline:none;
    width: 9.875em;
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
  .btn-primary:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;
    outline: none;
  }
  .btn-primary:hover{
    background-color: rgba(0,0,0,0.3);
    color: #cccccc;
  }
  .fa { 
    margin-top: 4.0em;
    color: white;
    font-size: 1.25em;
    text-decoration: none; 
    border-radius: 100%;  
    display:inline-block;
    border: 0.05em solid white;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    opacity: 0;
    -moz-transition: transform 0.5s ease, opacity 2s ease;
    -webkit-transition: transform 0.5s ease, opacity 2s ease;
    -ms-transition: transform 0.5s ease, opacity 2s ease;
    transition: transform 0.5s ease, opacity 2s ease;
    -moz-transition-delay: 1.75s;
    -webkit-transition-delay: 1.75s;
    -ms-transition-delay: 1.75s;
    transition-delay: 1.75s;
   }
   .fa:hover {
    color: #cccccc;
    border: 0.05em solid #cccccc;
    background-color: rgba(0,0,0,0.3);
   }
}
body.loaded .allCap, body.loaded p {
	transform: scale(1);
	opacity: 1;
}
body.loaded {
  .rightBotLine, .leftTopLine{
    border-left-color: #fff;
    height:2em;
  }
  .rightBotLine {
    transform: scaleY(1);
  }
}
body.loaded {
  .allCap:before, .allCap:after{
  	opacity: 1;
  	width: 100%;
  }
}
body.loaded .handle, body.loaded .mini{
	border-color: #fff;
}
body.loaded {
  .cHandle{  
    background-color: #8B4513;
  }
  .rightBotCorner{
    border-color: transparent transparent #da0039 transparent;
  }
  .leftBotCorner {
    border-color: transparent transparent transparent #da0039;
  }
  .rightTopCorner{
    border-color: transparent #da0039 transparent transparent;    
  }
  .leftTopCorner{
    border-color: #da0039 transparent transparent transparent;
  }
  .titleCaption {
    .btn {
      opacity: 1;
    }
  }
  .fa {
    opacity: 1;
  }
}

/*
*--- Our Mission ---
*/
.page-section {
  padding: 6em 0em;
  .section-heading {
    margin-bottom: 3em;
  }
}

.service-item {
  background-color: #fff;
  text-align: center;
  padding: 1.75em 1.5em;
  transition: all 0.7s;
  box-shadow: 0em 0em 1em #cdcdcd;
  h4 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-top: 25px;    
  }
  p { 
    font-size: 0.80em;
  }
}
.icon {
  color: rgba(44,62,80,0.9);
}
/*
*--- About Us Section ---
*/
#about-us {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    url(campanile2.jpg) no-repeat; 
  background-size: 100% 135%;
  padding: 4em 0em;
  color: #fff;
  h4 {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin-bottom: 1.25em;
  }
  .style_image {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .btn {
    background-color: transparent;
    font-size: 0.85em;
    line-height: 1.75em;
    border-color: #6e6d6c;
    font-weight:900;
    outline:none;
    width: 9.875em;
  }
  .btn-primary:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;
    outline: none;
  }
  .btn-primary:hover{
    background-color: rgba(0,0,0,0.3);
    color: #cccccc;
  }
  p {
    margin-bottom: 30px;
    font-size: 0.9em;
    color: #fff;
  }
  ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
/*
*--- Our Clinics Section ---
*/
.after-section { 
  padding-bottom: 0em;
}
#clinics {
  .clinic-card { 
    margin-bottom: 2em;
    position: relative;
    transition: 200ms;
    box-shadow: 0em 0em 1em #cdcdcd;
    &:hover {
      transform: translateY(-0.3em);
    }
    h4 {
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    p { 
      font-size: 0.80em;
      margin-bottom: 0em;
    } 
   }
  .clinic_image {
    width: 100%;
    height: 13.5em;
    overflow: hidden;
  }
  .clinic_text {
    text-align: center;
    padding: 1em 1em;
    background-color: #FFF;
  }
  p { 
    font-size: 0.9em;
    margin-bottom: 3em;
    color: #5a5a5a;
  }
}
/*
*--- Stay Updated Section ---
*/
#stay-updated {
  .blog-item {
    cursor: pointer;
    margin-bottom: 30px;
  }
  .blog-item img {
    width: 100%;
    overflow: hidden;
  }

  .blog-item .thumb {
    position: relative;
  }

  .blog-item .text-content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 12px 20px;
  }

  .blog-item .text-content h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
  }
}
/*
*--- Get Involved Section ---
*/

/*
*--- Contact Us Section ---
*/
#contact {
  p {
    color: white;
    text-align: left;
    padding: 0em 2em;
  }
  .section-heading {
    margin-bottom: 4em;
    h4{
      color: #fff;
    }
    .line-dec {
      background-color: #fff;
    }
  }
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
    url(townhall.jpg) no-repeat center center; 
  background-size: cover;
}
#contactform {
  input {
    border-radius: 0em;
    font-size: 0.75em;
    padding-left: 1em;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 3.5em;
    height: 4em;
    width: 100%;
    margin-bottom: 2em;
  }
  #message {
    border-radius: 0em;
    padding-left: 1em;
    font-size: 0.75em;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    height: 13em;
    max-height: 220px;
    width: 100%;
    margin-bottom: 1.75em;
  }
}


#contactform button {
  display: inline-block;
  background-color: #a2cf8d;
  padding: 12px 18px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
}

#contactform button:hover {
  color: #fff;
  background-color: #5c9d7d;
  transition: all 0.3s;
}




@media screen and (-webkit-min-device-pixel-ratio:0)
{
  .titleCaption {
    .rightBotLine {
      margin-top:-2em;
    }
  }
}

/*
*--- About Page --- 
*/
#aboutview{
    background:
    url("homageBanner.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
