<div class = "row"> <!-- (Header) Row 1  -->
	<header>
		<ul id = "logo">
			<li> <a href = "home.html"></a> </li>
			<li> <%= image_tag("Suitcase-logo.jpg", :alt => "suitcase-logo") %></li>
			<li> <a href = "applyPage.html" style="text-decoration:none;">Join Us</a></li>
			<li> <a href = "donate.html" style="text-decoration:none;">Donate</a></li>						
			<li> <a href = "blog.html" style="text-decoration:none;">Blog</a></li>
			<li> <a href = "news.html" style="text-decoration:none;">News</a></li>
			<li> <a href = "services.html" style="text-decoration:none;">Services</a></li>
			<li> <a href = "about.html.erb" style="text-decoration:none;">About Us</a></li>
			<li> <a href = "home.html" style="text-decoration:none;">Home</a></li>
		</ul>								
	</header>
</div>